<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="background-image: url('/images/music5.jpg'); background-size: cover";>

<div class="admin-container">

<h1>Admin Home</h1>

<ul>
<a href="newSong"> Add a New Song</a>
<br/>
</ul>

<ul>
<a href="viewSongs">View All Songs</a>
<br/>
</ul>

<ul>
 <a href="createPlaylist">Create  Playlist</a>
 <br/>
 </ul>
 
 <ul>
<a href="viewPlaylists">View All Playlist</a>
<br/>
  </ul>
 
 </div>
</body>
</html>