<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="background-image: url('/images/music2.jpg'); background-size: cover";>


 <div class="loginpage-container">
 
<h1>User Login</h1>
 <form action="validate" method="post">
   
   <ul>
   <label>Email : </label>
   <input type="email" name="email"/>
   <br/>
   </ul>
    <ul>
   <label>Password : </label>
   <input type="password" name="password"/>
   <br/>
   </ul>
   
   <input type="submit" value="LOGIN">
   </form>

</div>
</body>
</html>