<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>TuneHub</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body style="background-image: url('/images/music4.jpg'); background-size: cover";>
 
   <div class="registration-container">
   
   <h1>New Registration</h1>
   
   <form action="/registration" method="post">
   <ul>
   <label>User name : </label>
   <input type="text" name="userName"/>
   <br/>
   </ul>
    <ul>
   <label>Email : </label>
   <input type="text" name="email"/>
   <br/>
     </ul>
      <ul>
   <label>Password : </label>
   <input type="text" name="password"/>
   <br/>
     </ul>
      <ul>
   <label>Gender : </label>
   M<input type="radio" name="gender" value="male"/>
   F<input type="radio" name="gender" value="female"/>
   O<input type="radio" name="gender" value="other"/>
   <br/>
   </ul>
      <ul>
   <label>Role : </label>
   Admin<input type="radio" name="role" value="admin" />
   Customer<input type="radio" name="role" value="customer"/>
   <br/>
      </ul>
        <ul>
   <label>Address : </label>
   <textarea name="address"></textarea>
   <br/>
    </ul>
      <ul>
   <input type="submit">
   </ul>
   </form>
   
   </div>
</body>
</html>